/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;
$navbar-bg:             #E7E6E6 !default;
$navbar-fg:             #00395A !default;

/*-- scss:rules --*/
